.product-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(235, 235, 227);
    border-radius: 10px;
    border: 1px solid black;
}

#footer-card{
    padding: 3%;
    width: 98%;
   display: flex;
   justify-content: space-between;
    
}
#desc{
    width: 80%;
}

.hart-btn{
    all: unset;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

.click-div:hover{
    cursor: pointer;
}